* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
}
:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  /* --mainSpacing: 3px; */
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
/* Start Main */
body {
  padding-top: 66px;
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: 'Tajawal', Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}
h1 {
  font-size: 48px;
  line-height: 1;
  margin-bottom: 8px;
}
h2 {
  font-size: 32px;
  margin-bottom: 12px;
}
h3 {
  font-size: 24px;
  line-height: 1;
  margin-bottom: 16px;
}
h4 {
  font-size: 19.2px;
  line-height: 1.25;
  margin-bottom: 20px;
}
h5 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 24px;
}
h6 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 24px;
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  /* letter-spacing: var(--mainSpacing); */
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 6.4px 14.4px;
  border: 3px solid var(--primaryColor);
  border-radius: 5px;
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}
.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 48px;
}
.error {
  text-align: center;
  text-transform: uppercase;
  margin: 32px 0;
}
.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 32px 0;
  padding: 16px;
  /* letter-spacing: var(--mainSpacing); */
}
/* End Main */
/* Start Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 12px 32px;
  background: var(--offWhite);
  z-index: 1;
}
.nav-header {
  display: flex;
  justify-content: space-between;
}
.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.nav-icon {
  font-size: 24px;
  color: var(--primaryColor);
}
.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
}
.nav-links a {
  display: block;
  text-decoration: none;
  padding: 16px 0;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  /* letter-spacing: var(--mainSpacing); */
}
.nav-links a:hover {
  color: var(--primaryColor);
}

.show-nav {
  height: 100px;
}
@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 64px;
  }
  .nav-links a {
    margin: 0 16px;
    padding: 8px 0;
  }
}
/* End Navbar */
/* Start Hero */
.defaultHero,
.roomsHero {
  min-height: calc(100vh - 66px);
  background: url("./images/defaultBanner.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.roomsHero {
  background-image: url("./images/room-2.jpeg");
  min-height: 60vh;
}
/* End Hero */
/* Start Banner */
.banner {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: var(--mainWhite);
  padding: 32px 16px;
  border-radius: 5px;
  text-align: center;
  text-transform: capitalize;
  /* letter-spacing: var(--mainSpacing); */
}
.banner h1 {
  font-size: 40px;
}
.banner div {
  width: 160px;
  height: 5px;
  background: var(--primaryColor);
  margin: 27.2px auto;
}
.banner p {
  font-size: 19.2px;
  margin-bottom: 32px;
}
@media screen and (min-width: 576px) {
  .banner {
    padding: 32px 48px;
  }
  .banner h1 {
    font-size: 48px;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    padding: 32px 96px;
  }
  .banner h1 {
    font-size: 64px;
  }
}
/* End Banner */
/* Start Title */
.section-title {
  text-align: center;

  margin-bottom: 64px;
}
.section-title h4 {
  font-size: 32px;
  /* letter-spacing: var(--mainSpacing); */
  text-transform: capitalize;
  margin: 16px 0;
}
.section-title div {
  width: 80px;
  height: 5px;
  margin: 0 auto;
  background: var(--primaryColor);
}
/* End Title */

/* Start Services */
.services {
  padding: 80px 0;
}
.services {
  background: var(--darkGrey);
  text-align: center;
}
.services-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 32px;
  grid-column-gap: 50px;
}
.service span {
  display: inline-block;
  color: var(--primaryColor);
  font-size: 40px;
  margin-bottom: 24px;
}
.services p {
  width: 80%;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  .services-center {
    width: 95vw;
    max-width: 1170px;
  }
}

@media screen and (min-width: 1200px) {
  .services p {
    width: 100%;
  }
}
/*End Services */
/* Start Featured Rooms */

.featured-rooms {
  padding: 80px 0;
}
.featured-rooms-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-row-gap: 32px;
  grid-column-gap: 40px;
}
@media screen and (min-width: 776px) {
  .featured-rooms-center {
    width: 90vw;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
}
@media screen and (min-width: 992px) {
  .featured-rooms-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* End Featured Rooms */
/* Start Room */
.room {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
}
.room:hover {
  box-shadow: var(--darkShadow);
}

.img-container {
  position: relative;
}
.img-container img {
  width: 100%;
  display: block;
  transition: var(--mainTransition);
}
.price-top {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: var(--mainWhite);
  padding: 4.8px 9.6px 8px;
  border-bottom-right-radius: 16px;
  font-size: 8px;
  text-align: center;
  transition: var(--mainTransition);
}
.price-top h6 {
  margin-bottom: 0;
  font-size: 14.4px;
  font-weight: 300;
  /* letter-spacing: var(--mainSpacing); */
}
.room-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.3s linear;
}
.img-container:hover {
  background: rgba(0, 0, 0, 0.8);
}
.img-container:hover img {
  opacity: 0.3;
}
.img-container:hover .price-top {
  opacity: 0;
}
.img-container:hover .room-link {
  transform: translate(-50%, -50%) scale(1);
}
.room-info {
  background: var(--darkGrey);
  text-transform: capitalize;
  padding: 8px 0;
  text-align: center;
  font-weight: 700;
  /* letter-spacing: var(--mainSpacing); */
}
/* End Room  */
/* Start Single Room*/

.single-room {
  padding: 80px 0 0 0;
}
.single-room-images {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-row-gap: 32px;
  grid-column-gap: 50px;
}
.single-room-images img {
  width: 100%;
  display: block;
}
.single-room-info {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr;
  margin: 32px auto;
}
.desc,
.info {
  margin: 16px 0;
}
.desc h3 {
  text-transform: capitalize;
  /* letter-spacing: var(--mainSpacing); */
}
.desc p {
  line-height: 1.5;
}
.info h3,
.info h6 {
  text-transform: capitalize;
  /* letter-spacing: var(--mainSpacing); */
}

.info h6 {
  font-weight: 300;
}
.room-extras {
  width: 80vw;
  margin: 0 auto 48px auto;
}
.room-extras h6 {
  text-transform: capitalize;
  /* letter-spacing: var(--mainSpacing); */
}
.extras {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-column-gap: 32px;
  grid-row-gap: 16px;
}
@media screen and (min-width: 992px) {
  .single-room-images,
  .single-room-info,
  .room-extras {
    width: 95vw;
    max-width: 1170px;
  }
  .single-room-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 32px;
  }
  .info {
    padding-left: 48px;
  }
}
/* End Single Room*/
/* Start Roomlist */
.roomslist {
  padding: 80px 0;
}
.roomslist-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-row-gap: 32px;
  grid-column-gap: 30px;
}

@media screen and (min-width: 776px) {
  .roomslist-center {
    width: 90vw;
  }
}
@media screen and (min-width: 992px) {
  .roomslist-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* End Roomlist */
/*  Start Rooms Fitler*/
.filter-container {
  padding: 80px 0;
}
.filter-form {
  width: 60vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
  grid-row-gap: 32px;
  grid-column-gap: 40px;
}
.form-group {
  text-transform: capitalize;
}
.form-group label {
  display: block;
  /* letter-spacing: var(--mainSpacing); */
  margin-bottom: 8px;
}
.form-control {
  width: 100%;
  background: transparent;
  font-size: 16px;
  font-family: 'Tajawal', Verdana, Geneva, Tahoma, sans-serif;
}
.size-inputs {
  display: flex;
}
.size-input {
  width: 40%;
  padding: 3.2px;
  border: 1px solid var(--mainBlack);
  border-radius: 4.8px;
  margin-right: 4.8px;
}
.single-extra label {
  display: inline-block;
  font-size: 12.8px;
  margin-right: 8px;
}
@media screen and (min-width: 776px) {
  .filter-form {
    width: 70vw;
  }
}
@media screen and (min-width: 992px) {
  .filter-form {
    width: 95vw;
    max-width: 1170px;
  }
}
/* End Rooms Fitler*/
